* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1000px){
  .op{
    font-size:26px !important;
  }
}
.op{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.op>*{
  margin: 24px auto;
}
.op h4:hover{
  transform: scale(1.2);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.start{
  animation: starting 1s both;
}
@keyframes starting{
  0%{transform: translateY(0); display: flex;}
  20%{transform: translateY(1vh); display: flex;}
  100%{transform: translateY(-100vh);display: none;}
}


/*write game code from here*/
body{
}

.game{
  background:linear-gradient(to right, #c7ecee,#22a6b3,#c7ecee);
  position: fixed;
  top: 0;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  overflow: hidden;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.game h1{
  font-size: 250px;
  margin: 10px;
}

.game p{
  margin-top: 50px;
  font-size: 40px;
  color: #F884A0;
  text-shadow: #f1f0cf 1px 1px 0px, #f1f0cf -1px 1px 0px,
             #f1f0cf 1px -1px 0px, #f1f0cf -1px -1px 0px;
}
canvas{
  position: fixed;
  top: 0;
  height:100vh;
  width:100vw;
  overflow: hidden;
}

























































