* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
}
.day1{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  display:flex;
  /*border: 1px solid red;*/
}
.title img{
  height: 300px;
  width: 300px;
}
@media all and (max-width: 670px){
  .title{
    flex-direction:column;
  }
}
.main p{
  /*border: 1px solid red;*/
  padding: 10px;
}
#language ul{
  list-style: none;
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
}

#language li{
  border: 1px solid #293462;
  padding: 10px;
  margin: 10px;
}

#language li:hover{
  color:white;
  background-color: #293462;
}

/*tip=============================================*/
#tip ul{
  display: flex;
  /*border: 1px solid red;*/
}
#tip li{
  margin: 5px;
  padding: 25px;
  display:flex;
  align-items: center;
}
.webpage a{
  width:120px;
  padding: 10px;
  color: white;
  background-color: #4E5E2C;
  border-radius: 5px;
  box-shadow: 0 7px #191B1F;
  text-align: center;
}
.webpage a:hover{
  box-shadow: none;
  position: relative;
  top:6px;
}
.webpage a:active{
  opacity: 0.9;
}

.paypal a{
  width:120px;
  padding: 10px;
  color: white;
  background-color: #DEAF3F;
  border-radius: 5px;
  box-shadow: 0 7px #C29301;
  text-align: center;
}
.paypal a:hover{
  box-shadow: none;
  position: relative;
  top:6px;
}
.paypal a:active{
  opacity: 0.9;
}


#copyright {
  height: 5vh;
  display:flex;
  flex-direction:column;
  align-content: flex-end;
}
#copyright p{
  margin-top: 5vh;
  /*border: 1px solid red;*/
}

/*js==================*/
.hide{
  display: none;
}













