* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1000px){
  .op{
    font-size:26px !important;
  }
}
.op{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*size*/
  font-size: 72px;
  color: black;
  text-shadow: white 2px 2px 0px, white -2px 2px 0px,
             white 2px -2px 0px, white -2px -2px 0px;
}

.op>*{
  margin: 24px auto;
}
.op h4:hover{

  transform: scale(1.2);
  transition: 0.5s;
}
.start{
  animation: starting 1s both;
}
@keyframes starting{
  0%{transform: translateY(0); display: flex;}
  20%{transform: translateY(1vh); display: flex;}
  100%{transform: translateY(-100vh);display: none;}
}


/*write game code from here*/
.game{
  height:100vh;
}
























































