/* title */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea {
  font-size: 18px;
  -webkit-user-select: auto;
}


.op {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(to right,
      #EFF3F4, #EFF3F4 14%,
      #C4D95A 14%, #C4D95A 28%,
      #45D8EA 28%, #45D8EA 42%,
      #32CB4A 42%, #32CB4A 56%,
      #CF33C9 56%, #CF33C9 68%,
      #BD3023 68%, #BD3023 82%,
      #3C34D9 82%, #3C34D9 94%,
      #46270B 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color: white;
  /*size*/
  font-size: 72px;
  text-shadow: #C4D95A 2px 2px 0px, #32CB4A -2px 2px 0px,
    #BD3023 2px -2px 0px, #46270B -2px -2px 0px;
}

.op>* {
  margin: 24px auto;
}

.op h4:hover {
  transform: scale(1.2);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.start {
  animation: starting 1s both;
}

@keyframes starting {
  0% {
    transform: translateY(0);
    display: flex;
  }

  20% {
    transform: translateY(1vh);
    display: flex;
  }

  100% {
    transform: translateY(-100vh);
    display: none;
  }
}


/*write game code from here*/
body {
  background: #262626;
  overflow-y: scroll;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.capture {
  display: block;
  border-radius: 20px;
  height: 74vh;
  width: 100vw;
  margin: 0 auto;
  object-fit: cover;
}

.controller {
  position: absolute;
  top: 60vh;
  height: 20vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  border: none;
  background: none;
}

.cameraBtn {
  font-size: 68px;
  grid-column: 3;
}

.switchBtn {
  font-size: 38px;
  grid-column: 5;
}

canvas {
  position: absolute;
  visibility: hidden !important;
}

.show {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}

.show>* {
  width: 33%;
  padding: 10px;
}


/* media queries */
@media all and (max-width: 1000px) {
  .op {
    font-size: 26px;
  }

  /* .capture {
    width: 100vw;
  } */
}
