* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1000px){
  .op{
    font-size:26px !important;
  }
}
.op{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  /*background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);*/
  background: linear-gradient(to right, #378BBD 50%, #6DAE4D 50%);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.op>*{
  margin: 24px auto;
}
.op h4:hover{
  transform: scale(1.2);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.start{
  animation: starting 1s both;
}
@keyframes starting{
  0%{transform: translateY(0); display: flex;}
  20%{transform: translateY(1vh); display: flex;}
  100%{transform: translateY(-100vh);display: none;}
}


/*write game code from here*/
.game{
  height:100vh;
}

/*game page*/
.field{
  position: relative;
  height:60vh;
  width:100vw;
  font-size: 60px;
  text-align: center;
}

.wander{
  background: #6DAE4D;
  position: absolute;
  top:0;
  z-index: 2;
  /*display: none*/
}

.battle{
  background: #3F454D;
  position: absolute;
  top:0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*game animations*/

/*player walk thorough weed*/
.square{
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
}
.weed{
  transform: translateY(40vh);
}
.walk{
  animation: walking 3s forwards steps(3);
}
@keyframes walking{
  0%{transform: translateY(0);}
  100%{transform: translateY(40vh);}
}


/*when player into weed,vase come out*/
/*will add to '.wander'*/
.flash{
  animation: flashing 0.2s 3s 6 linear;
}
@keyframes flashing{
  form{background: #3F454D;}
  to{background: #111111;}
}

/*will add to '.battle'*/
.appare{
  animation: apparing 3s linear both;
}
@keyframes apparing{
  from{z-index: 1; opacity:0;}
  to{z-index: 3; opacity:1;}
}
/*comment*/
.comment{
  height:40vh;
  width: 100vw;
  color:black;
  position: absolute;
  top:60vh;
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  width: 100px;
  margin: 10px;
  padding: 20px;
  align-self: center;
  border:4px inset #378BBD;
  color:white;
  background: #378BBD;
  border-radius: 2px;
  text-align: center;
}

.btn:hover{
  opacity: 0.8;
  border:4px outset #378BBD;
}


/*ep.2 genie came out*/
.ep2{
  visibility: hidden;
  display: flex;
  position: absolute;
  bottom: 10vh;
}

.spell a{
  display: block;
  color:white;
}

.runaway{
  background: #F10001;
}

.spell{
  background: #FDB036;
}


.vase{
  animation: floating 4s infinite both alternate linear;
}
@keyframes floating{
  0%{transform: translate(-10px, -10px);}
  50%{transform: translate(0);}
  100%{transform: translate(10px, -10px);}
}

.genie{
  font-size:1.5em;
  opacity: 0;
}

.rub {
  animation: rubbing 2s forwards ease-out, genie 2s 2s infinite linear alternate;
}
@keyframes rubbing{
  from{transform: translateY(10vh); opacity: 0;}
  to{transform: translateY(0); opacity: 1;}
}
@keyframes genie{
  0%{opacity: 1; transform: translateX(10px); scale(1);}
  50%{opacity: 0.3; transform: translateX(0); scale(1.1);}
  100%{opacity: 1; transform: translateX(-10px); scale(1);}
}

/*clicked runaway btn but you can't runaway and get attacked*/
.attacked{
  background:#F10001;
  animation: attacking 0.1s 3 alternate;
  position: absolute;
  top:0;
  z-index: 3;
}
@keyframes attacking{
  from{transform: translate(-10px, -10px);}
  to{transform: translate(10px, 10px);}
}

/*when runaway failed 3times*/
.genieAttacked{
  background:#03749B;
  animation: genieAttacking 2s 3 alternate;
  position: absolute;
  top:0;
  z-index: 3;
}
@keyframes genieAttacking{
  from{transform: translateX(20px);}
  to{transform: translateX(-20px);}
}


.ep3{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 101;
  /*background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);*/
  background: linear-gradient(to right, #378BBD 50%, #6DAE4D 50%);
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 18px;
}

.end {
  display: flex;
  animation: ending 5s forwards linear;
}
@keyframes ending{
  from{transform: translateY(100vh);}
  from{transform: translateY(-100vh);}
}






























