* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1000px){
  .op{
    font-size:26px !important;
  }
}
.op{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.op>*{
  margin: 24px auto;
}
.op h4:hover{
  transform: scale(1.2);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.start{
  animation: starting 1s both;
}
@keyframes starting{
  0%{transform: translateY(0); display: flex;}
  20%{transform: translateY(1vh); display: flex;}
  100%{transform: translateY(-100vh);display: none;}
}


/*write game code from here*/
.game{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: #231816;
  border-radius: 50px;
}
::-webkit-progress-value {
  background-color: #274097;
  border-radius: 50px;
}

button{
  width: 140px;
  height: 80px;
  background-color:#46185f;
  color: white;
  border-radius: 4px;
}

.btnClicked{
 animation:clicked 1s linear both;
}

@keyframes clicked {
  0%{transform: rotateX(0);}
  50%{transform: rotateX(180deg);}
  100%{transform: rotateX(360deg);}
}

.fail{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: #E5E5E5;
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:#FE5FAE;
  /*size*/
  font-size: 18px;
}

.end{
  display: flex;
}









































