* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1000px){
  .op{
    font-size:26px !important;
  }
}
.op{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background: conic-gradient(#60B263, #EAEAE9);;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.op>*{
  margin: 24px auto;
}
.op h4:hover{
  transform: scale(1.2);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.start{
  animation: starting 1s both;
}
@keyframes starting{
  0%{transform: translateY(0); display: flex;}
  20%{transform: translateY(1vh); display: flex;}
  100%{transform: translateY(-100vh);display: none;}
}

/*write game code from here*/
body{
  background:#95E878;
}
.game{
  height:80vh;
  position: relative;
  background: #F8E6BD;
}
.turtle{
  position: absolute;
  font-size: 42px;
  transform: rotateY(180deg);
}
.result{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 80px;
  height: 80px;
  background: #06AFC7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.rabbit{
  position: absolute;
  top:10%;
  right:0;
  font-size: 42px;
  animation: rabbit 40s forwards steps(40);
}

@keyframes rabbit{
  from{transform: translateY(0);}
  to{transform: translateY(50vh);}
}

.throwDicebtn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 80px;
  height: 80px;
  background:#FDD033;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.throwDice{
  font-size: 32px;
  display: block;
  animation: rotate 1s both alternate infinite;
}

@keyframes rotate{
  0%{transform:rotateZ(-20deg);}
  100%{transform:rotateZ(20deg);}
}

.end{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: black;
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 18px;
}
















































