* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 1000px){
  .start{
    font-size:32px !important;
  }
  .comment h1{
    font-size:18px !important;
  }
}

/*h2 is charactor size*/
h2{
  font-size: 60px;
}

.battle:nth-child(even){
  animation: battling 1s alternate steps(6) both infinite;
}

.battle:nth-child(odd){
  animation: battling 1s alternate-reverse steps(6) both infinite;
}

@keyframes battling{
  form{transform: translateX(-12px);}
  to{transform: translateX(12px);}
}

.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(#23374d 50%, #e5e5e5 50%);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.start>*{
  margin: 24px auto;
}

.start h6{
  color:#23374d;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
  width: 100vw;
  background: #394a6d;
  opacity: 0.9;
}

.hit{
  background: #da2d2d;
  animation: hitting 0.1s 3 both alternate linear;
}

@keyframes hitting{
  from{transform: translate(20px, 5px);}
  to{transform: translate(-20px, -5px);}
}

.comment{
  height:10vh;
  border: 4px double #3c4245;
  background: #e5e5e5;
}

.hero{
  padding: 50px;
  height: 40vh;
  display:flex;
  flex-direction: column;
  text-align: center;
}

.hero h2{
  margin-top: 60px;
}

.life{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourOption{
  height: 40px;
  text-align: center;
}

.options{
  display:flex;
  text-align: center;
  justify-content: center;
}

.option{
  width: 80px;
  height: 80px;
  font-size: 40px;
  margin: 60px 30px;
  padding: 10px;
  border-radius: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.option:hover{
  opacity: 0.8;
  border: 3px inset #8105d8;
}

.option:nth-child(even){
  animation: choosing 1s alternate linear both infinite;
}

.option:nth-child(odd){
  animation: choosing 1s alternate-reverse linear both infinite;
}
@keyframes choosing{
  form{transform: scale(0);}
  to{transform: scale(1.1);}
}

.potion{
  background: #ffa0d2;
}

.attack{
  background:#42dee1;
}

.hide{
  z-index: -1;
  opacity: 0.3;
}

.hentai{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: #FDA7DF;
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}

.clicked{
  display: flex;
  animation: clicking 3s both linear;
}

@keyframes clicking{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}










































