* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  display:flex;
  flex-direction:column;
}

/*day7=========================*/
.title{
  text-align:center;
}

.change-btn{
  border:1px solid black;
  margin-top: 50px;
  padding:30px;
}

.change-btn:hover{
  color: white;
  background-color:blue;
}





/*default*===========================================/
/*game start*/


.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items:center;
  justify-content: center;
  /*justify-content: space-around;*/
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
  /*border: 1px solid red;*/
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

/*write css code here*/
.game {
  height:95vh;
}

/*header=============================*/
header {
  height: 64px;
  z-index: 10;
  width: 100%;
  color:#4E5E2C;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
}

#logo {
  display: flex;
  align-items: center;
}
#logo img{
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

#logo h1{
  font-size: 48px;
}

.hide{
  display: none;
}

/*header menus*/
.header-menus ul{
  position: absolute;
  right:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.header-menus li{
  margin: 0 5px;
}

/*language button*/
#language{
  padding: 10px;
  color: white;
  background-color: #293462;
  border-radius: 3px;
  box-shadow: 0 3px #191B1F;
  text-align: center;
}
#language:hover{
  box-shadow: none;
  position: relative;
  top:6px;
}

#language span{
  color: #F25A8C;
}

#close-btn{
  margin: 0 10px;
  padding: 0 10px;
  font-size: 28px;
  color: white;
  background-color:#5C5C5C;
  box-shadow: 0 3px #191B1F;
  border-radius: 3px;
  display:flex;
  align-items: center;
}

#close-btn:hover{
  box-shadow: none;
  position: relative;
  top:6px;
}

/*footer================================*/


footer {
  border: 1px solid red;
  height: 30vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
}
#tip ul{
  display: flex;
  border: 1px solid red;
}
#tip li{
  margin: 5px;
  padding: 25px;
  display:flex;
  align-items: center;
}
.webpage a{
  width:120px;
  padding: 10px;
  color: white;
  background-color: #4E5E2C;
  border-radius: 3px;
  box-shadow: 0 3px #191B1F;
  text-align: center;
}
.webpage a:hover{
  box-shadow: none;
  position: relative;
  top:6px;
}
.webpage a:active{
  opacity: 0.9;
}

.paypal a{
  width:120px;
  padding: 10px;
  color: white;
  background-color: #DEAF3F;
  border-radius: 3px;
  box-shadow: 0 3px #C29301;
  text-align: center;
}
.paypal a:hover{
  box-shadow: none;
  position: relative;
  top:6px;
}
.paypal a:active{
  opacity: 0.9;
}


#copyright {
  height: 5vh;
  display:flex;
  flex-direction:column;
  align-content: flex-end;
}
p{
  margin-top: 5vh;
  border: 1px solid red;
}

/*iphone*/
@media all and (max-width: 670px){
  .start{
    font-size:18px;
  }
  .header-menus {
    display:none;
  }
}
