/* title */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

@media all and (max-width: 1000px) {
  .op {
    font-size: 26px !important;
  }
}

.op {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color: white;
  /*size*/
  font-size: 72px;
}

.op>* {
  margin: 24px auto;
}

.op h4:hover {
  transform: scale(1.2);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.start {
  animation: starting 1s both;
}

@keyframes starting {
  0% {
    transform: translateY(0);
    display: flex;
  }

  20% {
    transform: translateY(1vh);
    display: flex;
  }

  100% {
    transform: translateY(-100vh);
    display: none;
  }
}


/*write game code from here*/
.outputData {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background: #889e81;
}

.outputData>* {
  animation: wiggle 1s infinite alternate steps(4);
}

.animal-icon {
  text-align: center;
  margin-bottom: -30px;
}

@keyframes wiggle {
  form {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

.input-box {
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

form[id="creatingAnimal"]>* {
  padding: 10px;
}
