* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 670px){
  .start{
    font-size: 18px !important;
  }
  .cars li{
    font-size:8vh !important;
  }
}
.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:black;
  /*size*/
  font-size: 72px;
  border: 20px dashed black;
}
.start>*{
  margin: 24px auto;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
}

.cars{
  background-color: #95a5a6;
}
.cars li{
  font-size: 60px;
  transform: translateX(90vw);
}
.rasing li:nth-child(1){
  animation: run 10s both;
}

.rasing li:nth-child(2){
  animation: run 8s both;
}

.rasing li:nth-child(3){
  animation: run 7s both;
}

.rasing li:nth-child(4){
  animation: run 10s both;
}

.rasing li:nth-child(5){
  animation: run 40s both;
}

.rasing li:nth-child(6){
  animation: run 9s both;
}

.rasing li:nth-child(7){
  animation: run 10s both;
}

.winner{
  opacity: 0;
}
.hidden-runner{
  position: absolute;
  font-size: 60px;
  top:50%;
  animation: faster 4s 2s forwards;

}
.selected{
  border: 2px solid red;
}
.btn-container{
  display: flex;
  justify-content: center;
}
button{
  position: absolute;
  top:85vh;
  height:10vh;
  width: 10vw;
  background-color: #293462;
  color: white;
}

.rule{
  font-size: 40px;
  text-align:center;
}


.end-game{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.active{
  display: flex;
}
@keyframes run{
  from{ transform: translateX(90vw);}
  to{ transform: translateX(0); }
}

@keyframes faster {
  from {transform: translateX(100vw);}
  to{opacity: 1; transform: translateX(0); }
}





















































