/* title */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea {
  font-size: 18px;
  -webkit-user-select: auto;
}

@media all and (max-width: 1000px) {
  .op {
    font-size: 26px !important;
  }
}

body {
  margin: 0;
  background: #000;
}

#video {
  display: block;
  width: 100vw;
  object-fit: cover;
}
