* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 670px){
  .start{
    font-size:18px !important;
  }
  .comment h1{
    font-size:18px !important;
  }
}
.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: #48dbfb;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.start>*{
  margin: 24px auto;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
}

.comment{
  height: 20vh;
  text-align: center;
  color: #A2DA00;
  border: 10px double #A2DA00;
  background: white;
}
.comment h1{
  line-height: 20vh;
}
.birds{
  height: 50vh;
  width: 100vw;
  background: #48dbfb;
}

.bird{
  font-size: 30px;
  width:50px;
}

.bird:nth-child(1){
  animation:fly 5s infinite reverse steps(20);
}
.bird:nth-child(2){
  animation:fly 10s infinite alternate;
}
.bird:nth-child(3){
  animation:fly 30s infinite reverse;
}
.bird:nth-child(4){
  animation:fly 20s infinite alternate-reverse;
}
.bird:nth-child(5){
  animation:fly 40s infinite linear;
}
.bird:nth-child(6){
  animation:fly 8s infinite steps(8);
}
.bird:nth-child(7){
  animation:fly 16s infinite linear;
}
.bird:nth-child(8){
  animation:fly 21s infinite ease-out;
}

@keyframes fly{
  from{transform: translateX(-20vw);}
  to{transform: translateX(100vw);}
}

.collections{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A2DA00;
}
.collection{
  background-color: white;
  height: 15vh;
  width: 15vh;
  margin: 0 20px;
}

.basket{
  font-size: 60px;
  margin: 0 20px;
}

.forest{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forest a{
  width: 50vw;
  height: 8vh;
  line-height: 8vh;
  display: block;
  background: #026832;
  text-align: center;
  color: white;
  border: 3px groove #E0AC0E;
}

.forest:hover{
  animation: spin 5s infinite;
}

@keyframes spin{
  0%{transform: rotateY(0);}
  50%{transform: rotateY(180deg);}
  100%{transform: rotateY(360deg);}
}

.collected{
  line-height:15vh;
  text-align:center;
  animation:get 3s forwards;
}

@keyframes get{
  from{transform: translateX(0);}
  to{transform: translateX(30px); opacity:0;}
}




















































