* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 670px){
  .start{
    font-size:18px !important;
  }
  .comment h1{
    font-size:18px !important;
  }
}
.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: #EAB543;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.start>*{
  margin: 24px auto;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
  background: #428C3F;
}

.comment{
  height: 20vh;
  border: 4px double #004554;
}

.corns{
  margin-top: 10vh;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(10vh, auto);
}

.corn{
  background:#F2B05E;
  border: 2px solid #06735F;
}

.grow{
  text-align: center;
  line-height: 10vh;
  font-size: 32px;
  animation: growing 1s infinite both alternate steps(3);
}

@keyframes growing{
  from{transform: translateX(-5px);}
  to{transform: translateX(5px);}
}


















































