html {
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea {
  font-size: 20px;
  -webkit-user-select: auto;
}

.op {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background: conic-gradient(#58b368, #58b368 25%,
      #f65c78 25%, #f65c78 50%,
      #297ca0 50%, #297ca0 75%,
      #ffd271 75%, #ffd271);
  animation: rainbow 4s infinite linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*size*/
  font-size: 72px;
  color: #E5E5E5;
  text-shadow: #274097 1px 1px 0px, #E80410 -1px 1px 0px,
    #F7DC03 1px -1px 0px, #006719 -1px -1px 0px;
}

@keyframes rainbow {
  to {
    background-position-x: 200%;
  }
}


.end {
  position: absolute;
  top: 35vh;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.op>* {
  margin: 24px auto;
}

.op h4 {
  animation: scaling 1s infinite linear alternate;
}

@keyframes scaling {
  from {
    transform: scale(.8)
  }

  to {
    transform: scale(1.2)
  }
}

.start {
  animation: starting 1s both;
}

@keyframes starting {
  0% {
    transform: translateY(0);
    display: flex;
  }

  20% {
    transform: translateY(1vh);
    display: flex;
  }

  100% {
    transform: translateY(-100vh);
    display: none;
  }
}


.playerIcon {
  z-index: 101;
}

.score-list {
  width: 200px;
  font-size: 26px;
  background: white;
  text-shadow: none;
  margin: 10px;
  padding: 10px 20px;
  color: #F884A0;
  border-radius: 2px;
}


.list-design {
  display: flex;
  justify-content: space-between;
  color: #85817A;
}

.list-score {
  color: #E4AE48;
}


.score-list h1 {
  font-size: 28px;
}

/* responsive desige  */
@media all and (max-width: 1000px) {

  .op,
  .end {
    font-size: 26px;
  }
}

.btn {
  background: #288FA8;
  color: white;
  border-radius: 2px;
  padding: 5px;
}

.reloadBtn {
  background: #E4AE48;
  padding: 10px;
  margin: 40px;
}
