* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}

/*iphone*/
.game{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.comment{
  height:10vh;
}

.timer{
  height:40vh;
  display:flex;
  text-align: center;
  align-items: center;
  font-size:60px;
}

.choices {
  height: 10vh;
  width: 100vw;
  display: flex;
}

.choice{
  flex:auto;
  height: 60px;
  width: 100px;
  padding: 10px;
  margin: 10px;
  background: #36b5b0;
  color: white;
  box-shadow: 0px 8px #9dd8c8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.choice:hover{
  background: #9dd8c8;
  border: 2px solid #36b5b0;
  box-shadow: none;
  position: relative;
  top: 8px;
}


/*timer controller*/
.controller{
  height: 20vh;
  display:flex;
  align-items:center;
  justify-content: space-around;
}


.btn{
  height: 60px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  background:#102F57;
  box-shadow: 0px 8px #0C1A31;
  border-radius: 2px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.btn:active{
  box-shadow: none;
  position: relative;
  top: 8px;
}

.clear{
  background: #f09595;
  box-shadow: 0px 8px #ef4339;
}
.hide{
  display: none;
}





















































