* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 670px){
  .start{
    font-size:18px !important;
  }
}
.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: #fa8231;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.start>*{
  margin: 24px auto;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
  background: #badc58;
}
.comment{
  height: 20vh;
  display: flex;
  align-items:center;
}

.comment h1{
  border: 5px dotted #6ab04c;
  background: white;
  text-align: center;
  color: #F44B00;
}
.town{
  justify-content: center;
  display: grid;
  padding: 10vw;
  height:70vh;
  width:100vw;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(80px, auto);
}
.area{
  border: 5px solid #6ab04c;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e58e26;
}

.area p {
}

.me:after{
  content: "👨🏻‍🌾";
  font-size: 30px;
}

.it:after{
  content: "🥕";
  font-size: 30px;
}

.devil{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 103;
  background-color: black;
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}


















































