* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 670px){
  .start{
    font-size:18px !important;
  }
}
.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.start>*{
  margin: 24px auto;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment{
  height: 20vh;
}
.comment h1{
  font-size: 72px;
  line-height: 20vh;
}
.comment p{
  text-align: center;
}

.omikuji{
  height: 50vh;
}

.omikuji h1{
  font-size: 92px;
  line-height: 50vh;
}

.ask{
  height: 10vh;
}

#money{
  height: 20vh;
  display: flex;
  align-items:center;
  justify-content: center;
}

.money{
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}

.handred{
  background: #ffb142;
  box-shadow: 2px 4px #cc8e35
}

.fifty{
  background: #d1ccc0;
  box-shadow:2px 4px #84817a;
}

.zero{
  background: #e74c3c;
  box-shadow: 2px 4px#c0392b;
}

.money:hover{
  opacity: 0.8;
  box-shadow: none;
  position: relative;
  top:2px;
}

.omikuji-start{
  animation:omikuji-starting 1s 3 alternate linear;
}

@keyframes omikuji-starting{
  from{transform: translateX(10px);}
  to{transform: translateX(-10px);}
}








































