* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
@media all and (max-width: 670px){
  *{
    font-size:18px !important;
  }
}
.start{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  background-color: #84817a;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /*color*/
  color:white;
  /*size*/
  font-size: 72px;
}
.start>*{
  margin: 24px auto;
}
.start h6:hover{
  transform: scale(1.4);
  transition: 0.5s;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
/*iphone*/
.game{
  height:100vh;
}

.zombies{
  height:60vh;
}
.sanctuary{
  height:15vh;
  display: flex;
  width: 100vw;
}

.block{
  flex: 2 auto;
  background-color: #485460;
}

.princess{
  flex: 1 auto;
  background-color: #d2dae2;
  text-align: center;
}
.princess h1{
  animation: scare 1s linear alternate infinite;
  font-size: 7vw;
}
.hero{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  border: 10px double #1B3559;
}
.hero h6{
  font-size: 22px;
  position: fixed;
  bottom:0;
  right:0;
  padding: 30px;
}

.zombies{
  background-color:#84817a;
  display: flex;
}

.zombie{
  font-size: 7vw;
  flex:1;
  text-align:center;
}

.zombie:nth-child(1){
  animation: edgeAttacking 21s 3s infinite;
}
.zombie:nth-child(2){
  animation: middleAttacking 11s 3s infinite;
}
.zombie:nth-child(3){
  animation: middleAttacking 18s 3s infinite;
}
.zombie:nth-child(4){
  animation: centerAttacking 20s 3s infinite;
}
.zombie:nth-child(5){
  animation: centerAttacking 11s 3s infinite;
}
.zombie:nth-child(6){
  animation: middleAttacking 16s 3s infinite;
}
.zombie:nth-child(7){
  animation: middleAttacking 19s 3s infinite;
}
.zombie:nth-child(8){
  animation: edgeAttacking 18s 3s infinite;
}

.killed{
  display: none;
}
@keyframes scare {
  0%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(10px);
  }
}

@keyframes centerAttacking {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(70vh);
  }
}

@keyframes middleAttacking {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translate(40vw, 0);t
  }
  40%{
    transform: translate(-40vw, 0);
  }
  100%{
    transform: translateY(70vh);
  }
}

@keyframes edgeAttacking {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(70vh);
  }
}














































